.jumbotron,h1 {
    font-family: 'Cormorant Unicase', serif;
    font-size: 2.5cm;
    color: black;
    letter-spacing: 18px;
    background-color: rgb(241, 237, 237);
    text-align: center;
    
  }
  p {
    font-family: 'Cormorant Unicase', serif;
    font-size: 1.8cm;
  }
  #form {
    background-color: rgb(37, 31, 31);
    color: white;
    border-radius: 19px;
    left: 4px;
  }
  #form input[type = "text"], #form input[type = "date"] {
    border: 0;
    background: none;
    display: block;
    border: 2px solid #3498db;
    padding: 23px 10px;
    outline: none;
    border-radius: 17px;
    transition: 0.25s;
    color: white;
  }
  #form input[type = "text"]:focus, #form input[type = "date"]:focus {
    border-color: #cc2e55; 
  }
  #sub {
    text-align: center;
  }
  #btn {
    border-radius: 15px;
    margin: 4px auto;
  }
  #sim {
    margin-right: 5px;
    font-size: 20px;
  }

/* Botones de orden */ 
.s {
  position: absolute;
  bottom: 18%;
  left: 39%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  box-sizing: initial;
 }
 
 .s:hover > .s-txt {
  width: 199px;
  padding: 0 6px;
 }
 
 .s:hover > .se-btn {
  background: black;
  color: rgb(0, 0, 0);
 }
 
 .se-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
 }
 
 .se-btn > i {
  font-size: 30px;
  color: white;
 }
 
 .s-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
 }

/* boton2 */
 .search-box2 {
  position: absolute;
  bottom:18%;
  left: 27%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  box-sizing: initial;
 }
 
 .search-box2:hover > .search-txt2 {
  width: 199px;
  padding: 0 6px;
 }
 
 .search-box2:hover > .search-btn2 {
  background: black;
  color: rgb(0, 0, 0);
 }
 
 .search-btn2 {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
 }
 
 .search-btn2 > i {
  font-size: 30px;
  color: white;
 }
 
 .search-txt2 {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
 }